@import url(mediya.css);
@import url(animation.css);
:root{  
   --BgdColor_dark : #202020;
   --textColor:#FFFFFF;
   
}


*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
a{text-decoration: none;}
ul{
   padding: 0;
   margin: 0;
   li{list-style-type: none;}
}

body{
   font-family: 'Karla', sans-serif;

}
.container_fluid{
   width: 100%;
   height: 100vh;
   background-color: var(--BgdColor_dark);
   display: flex;
}
.control_wdw{
   width: 350px;
   height: 100%;
   position: relative;
   .showAcout{
      position: absolute;
      width: 250px;
      background-color: var(--BgdColor_dark);
      z-index: 1200;
      border-radius: 5px;
      left: 50%;
      top: 120px;
      transform: translate(-50%, -50%);
      border: 1px solid #333;
      display: none;
      opacity: 0;
      &.active{
         opacity: 1;
         display: block;

      }
      p{
         color: #fff;
         padding: 12px 8px;
         display: flex;
         column-gap: 10px;
         cursor: pointer;
         border: 1px solid #333;
         &:hover{
            background-color: #3D3D40;
         }
      }      
   }
   .user{
      display: flex;
      align-items: center;
      column-gap: 10px;
      padding: 20px 15px;
      .user_img{
         width: 40px;
         height: 40px;
         border-radius: 50%;
         overflow: hidden;
         img{
            width: 100%;
            height: 100%;
         }
      }
      .user_name{
         cursor: pointer;
         h3{
            color: #fff;
            font-family: var(--Roboto_Rr);
            font-weight: 500;
            line-height: 20px;
            font-size: 16px;
         }
         p{
            color: #A8A8A8;
            font-size: 12px;
            font-family: var(--Roboto_Rr);
            font-weight: 300;
            line-height: 15px;
         }
      }
   }
   .search{
      position: relative;
      padding: 0px 15px;
      input{
         width: 100%;
         background-color: transparent;
         border-radius: 5px;
         border:1px solid #303030;
         border-bottom: 2px solid #9A9A9A;   
         padding: 8px 10px;
         font-size: 15px;
         font-family: var(--Roboto_Rr);
         color: #fff;
         outline: none;
         &::placeholder{
            text-transform: capitalize;
         }
         &:focus-visible{
            border-bottom: 2px solid #0063B2;   
         }
         &:focus-visible ~ i{
            color: #0063B2;
         }
      }
      i{
         position: absolute;
         top: 50%;
         right: 5px;
         transform: translate(-50%, -50%);
         padding: 5px 7px;
         font-size: 10px;
         color: #B7B7B7;
         transition: all .2s ease-in;
         cursor: pointer;
         &:hover{
            background-color: #2D2D2D;
            border-radius: 5px;
            
         }
      }
   }
   ul{
      padding: 8px;
      border-bottom:1px solid #525252;
      li{
         padding: 10px 8px;
         display: flex;
         align-items: center;
         justify-content: flex-start;
         column-gap: 10px;
         cursor: pointer;
         margin-top: 5px;
         transition: all .3s ease-in;
         border-radius: 5px;
         position: relative;
         &::after{
            width: 4px;
            height: 15px;
            content: '';
            position: absolute;
            top: 50%;
            left: 2px;
            transform: translate(-50%, -50%);
            background-color: #0063B2;
            border-radius: 10px;
            display: none;
         }
         &.active{
            background-color: #323232;

         }
         i{
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            color: var(--textColor);
            opacity: .8;
         }
         &:hover{
            background-color: #323232;
         }
         p{
            display: inline-block;
            color: #fff;
            font-size: 16px;
            font-weight: 300;
            text-transform: capitalize;
         }
      }
   }
   .new_list{
      width: 100%;
      height: 259px;
      overflow-y: hidden;
      position: relative;
      ul{
         border: none;
         margin: 0;
         padding: 10px;
         i{
            color: #788CDE;
            font-size: 18px;
         }
      }
      button{
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         padding: 8px;
         cursor: pointer;
         display: flex;
         align-items: center;
         justify-content: fa-star;
         column-gap: 15px;
         background-color: transparent;
         border: 2px solid transparent;
         transition: all .2s ease-in;
         &:hover{
            background-color: #323232;
         }
         i{
            font-size: 18px;
            color: #fff;
            font-weight: 200;
         }
         span{
            text-transform: capitalize;
            font-size: 13px;
            color: #fff;
         }
      }
   }

}
.result_wdw{
   width: 100%;
   height: 100%;
   overflow: hidden;
   display: none;
   &.active{
      display: block;
   }
   .task_container{
      width: 100%;
      height: 100%;
      background-color: #1C1C1C;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      .header{
         width: 93%;
         position: absolute;
         left: 50%;
         top: 60px;
         transform: translate(-50%, -50%);
         .row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .col:nth-child(1){
               display: flex;
               column-gap: 10px;
               i{
                  background-color: transparent;
                  cursor: auto;
                  font-size: 20px;
                  padding: 6px;
               }
            }
            h1{
               color: var(--textColor);
               font-size: 30px;
               font-weight: 500;
            }
            i{
               font-size: 15px;
               color: #fff;
               cursor: pointer;
               padding: 8px 10px;
               background-color: #252929;
               border-radius: 5px;
               &:hover{
                  background-color: #373B3B;
               }
               &.active{
                  background-color: transparent;
                  border: 1px solid #86868683;
               }
            }
            i:nth-child(2){
               background-color: transparent;
               margin-left: 15px;
               &:hover{
                  background-color: #6b67674f;
               }
            }
            span{
               color: var(--textColor);
               font-weight: 400;
               font-size: 14px;
               line-height: 25px;
            }
         }
      }
      .mainContainer{
         width: 93%;
         position: absolute;
         top: 52%;
         left: 50%;
         min-height: 80%;
         height: 80%;
         overflow-y: auto;
         transform: translate(-50%, -50%);
         padding: 10px 0;
         
         .mainItems{
            display: flex;
            position: relative;
            padding: 13px;
            border-radius: 5px;
            background-color: #292a2aad;
            margin-top: 2px;
            input[type=checkbox] {
               position: absolute;
               cursor: pointer;
               width: 0px;
               height: 0px;
             }
             input[type=checkbox]:checked:before {
               content: "";
               display: block;
               position: absolute;
               width: 18px;
               height: 18px;
               border: 1px solid #FFCB9A;
               border-radius: 20px;
               background-color: #445768;  
               transition: all 0.2s linear;
             }
             input[type=checkbox]:before{
               content: "";
               display: block;
               position: absolute;
               width: 18px;
               height: 18px;
               border: 1px solid #FFCB9A;
               border-radius: 3px;
               background-color: #445768;
               
            }             
             input[type=checkbox]:after {
               content: "";
               display: block;
               width: 0px;
               height: 0px;
               border: solid #FFCB9A;
               border-width: 0 0px 0px 0;
               -webkit-transform: rotate(180deg);
               -ms-transform: rotate(180deg);
               transform: rotate(180deg);
               position: absolute;
               top: 0px;
               left: 50px;
               transition: all 0.2s linear;
             }
             input[type=checkbox]:checked:after {
               content: "";
               display: block;
               width: 5px;
               height: 12px;
               border: solid #FFCB9A;
               border-width: 0 2px 2px 0;
               -webkit-transform: rotate(45deg);
               -ms-transform: rotate(45deg);
               transform: rotate(45deg);
               position: absolute;
               top: 0px;
               left: 9px;
             }             
            p{
               text-transform: capitalize;
               padding-left: 35px;
               color: #Fff;
               font-size: 20px;
            }
            i{
               position: absolute;
               top: 50%;
               right: 5px;
               transform: translate(-50%, -50%);
               padding: 5px;
               color: var(--textColor);
               cursor: pointer;
            }
         }
      }
      .add_task{
         background-color: rgba(0, 0, 0, 0.641);
         backdrop-filter: blur(5px);
         display: flex;
         align-items: center;
         width: 93%;
         height: 50px;
         position: absolute;
         left: 50%;
         bottom: 20px;
         transform: translate(-50%, -50%);
         cursor: text;
         border-radius: 5px;
         padding: 5px;
         &:hover{
            background-color: rgba(35, 35, 35, 0.641);
         }
         i{
            color: var(--textColor);
            font-weight: 400;
            padding: 10px;
         }
         input{
            width: 100%;
            height: 100%;
            background-color: transparent;
            outline: none;
            border: none;
            font-size: 16px;
            color: var(--textColor);
            padding: 0 10px;
            &::placeholder{
               color: var(--textColor);
               font-size: 13px;
            }
   
         }
      }

      
   }
   .task_modal{
      position: absolute;
      width: 250px;
      height: 220px;
      background-color: #000000b3;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: var(--textColor);
      &.active{
         display: none;
      }
      img{
         width: 100px;
         height: 100px;
         opacity: .7;
         margin-bottom: 10px;
      }
      p{
         font-weight: 600;
         font-size: 20px;
         text-transform: capitalize;
         line-height: 25px;
         margin-bottom: 10px;
      }
      span{
         width: 85%;
         text-align: center;
         display: block;
         font-size: 13px;
         margin-bottom: 10px;
      }
   }
   .show_theme{
      position: absolute;
      top: 80px;
      right: -25%;   
      background-color: #212121;
      padding: 15px;
      border-radius: 5px;
      opacity: 0;
      transition: all .8s ease-in;
      &.active{
         right: 3px;
         opacity: 1;
      }
      p{
         color: #fff;
         font-size: 18px;
         display: block;
         text-transform: capitalize;
         margin-bottom: 10px;
      }
      ul{
         width: 100%;
         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
         gap: 10px;
         li{
            width: 45px;
            height: 45px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
         }
      }
   }
   
}
::-webkit-scrollbar-track{
   background-color: transparent;
}
::-webkit-scrollbar-thumb{
   background-color: transparent;
}

